

<section class="section product">
  <div class="container">
  

      <li class="product-item">
        <div class="product-card" tabindex="0">
          <figure class="card-banner">
            <img
              src="<%= product.imageUrl%>"
              width="312"
              height="350"
              loading="lazy"
              alt=" <%= product.title %>"
              class="image-contain"
            />
            <div class="card-badge">New</div>

            <ul class="card-action-list">
              <li class="card-action-item">
                <button
                  class="card-action-btn"
                  aria-labelledby="card-label-1"

                >
                  <ion-icon name="cart-outline"></ion-icon>
                </button>

                <div class="card-action-tooltip" id="card-label-1">
                  Add to Cart
                </div>
              </li>

              <li class="card-action-item">
                <button 
                  class="card-action-btn"
                  aria-labelledby="card-label-2"
                >
                  <ion-icon name="heart-outline"></ion-icon>
                </button>

                <div class="card-action-tooltip" id="card-label-2">
                  Add to Whishlist
                </div>
              </li>

              <li class="card-action-item">
                <button
                  class="card-action-btn"
                  aria-labelledby="card-label-3"
                  onclick="window.location.href = '/products/<%=product.id %>'"

                >
                  <ion-icon name="eye-outline"></ion-icon>
                </button>

                <div class="card-action-tooltip" id="card-label-3">
                  Quick View
                </div>
              </li>

              <li class="card-action-item">
                <button
                  class="card-action-btn"
                  aria-labelledby="card-label-4"
                >
                  <ion-icon name="repeat-outline"></ion-icon>
                </button>

                <div class="card-action-tooltip" id="card-label-4">
                  Compare
                </div>
              </li>
            </ul>
          </figure>

          <div class="card-content">
            <h3 class="card-cat">
              <a href="#"><b><%= product.company %></b></a>
            </h3>
            <div class="card-cat">
              <a href="#" class="card-cat-link"> <%= product.category %></a> 
            </div>

            <h3 class="h3 card-title">
              <a href="#"><%= product.title %></a>
            </h3>

            <data class="card-price" value="180.85">$<%= product.price %></data>
            <div class="product-item-actions">
              <% if(locals.isAdmin){ %>
                
              <a class="btn" href="/admin/products/<%= product.id %>">View & Edit</a>
              <button class="btn" data-productid="<%= product.id %>">Delete</button>
              <% } else{ %>
  
                  <a class="btn" href="/products/<%=product.id %>">View Details</a>
              <% } %>
          </div>
        </div>
      </li>

     

    
  </div>
</section>