<%- include("../../shared/includes/head") %> 
<link rel="stylesheet" href="/styles/styles2.css">
<script src="/scripts/mobile.js" defer></script>
<script src="/scripts/product-management.js" defer></script>
</head>
<body>
    <header class="header" data-header>
        <%- include("../../shared/includes/header") %>  
    </header>
    <main>
        <article>
          <section class="section product" aria-label="product">
            <div class="container">
                    <img src="<%= product.imageUrl %>" width="400" height="400" loading="lazy" alt="Nike Sneaker"
                      >    
              <div class="product-content">
                <p class="product-subtitle"><%= product.company %> Company</p>
                <h1 class="h1 product-title"><%= product.title %></h1>
                <p class="product-text">
                <%= product.description %>
                </p>
                <div class="wrapper">
                  <span class="price" data-total-price>$ <%= product.price %></span>
                  <span class="badge">50%</span>
                  <del class="del">$  <%= product.oldprice %></del>
                </div>
                   <div class="btn-group">
                  <div class="counter-wrapper">  
                    <button class="counter-btn" data-qty-minus>
                      <ion-icon name="remove-outline"></ion-icon>
                    </button>
                    <span class="span" data-qty>1</span>
                    <button class="counter-btn" data-qty-plus>
                      <ion-icon name="add-outline"></ion-icon>
                    </button>
    
                  </div>
    
                  <button class="cart-btn">
                    <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
    
                    <span class="span" data-productid="<%= product.id %>">Add to cart</span>
                  </button>
                </div>
              </div>
            </div>
          </section>
        </article>
      </main>
        <script src="./assets/js/script.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
      
    </main>
<%- include("../../shared/includes/footer") %> 
  