<%- include("../../shared/includes/head",{pageTitle:"Signup"}) %>
<!-- <link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css"> -->

</head>
<body>
    <header class="header" data-header>
        <%- include("../../shared/includes/header") %>  
    </header>    
    <main>
        <div class="auth-signup">

   
        <section class="auth">
    <form action="/signup" method="POST">   
        <div class="auth-btn">

        <h1>Create New Account</h1>
        <% if(inputData.errorMessage){ %>
            <section class="alert">
                <h3>Invalid Input</h3>
                <p><%= inputData.errorMessage %></p>
            </section>
            <% } %>
        <p>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" value="<%= inputData.email %>" required>
        </p>
        <p>
            <label for="confirm-email">Confirm Email</label>
            <input type="email" name="confirm-email" id="confirm-email" value="<%= inputData.confirmEmail %>"  required>
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" minlength="6" value="<%= inputData.password %>"  required>
        </p>
        <hr>
        <p>
            <label for="fullname">Full Name</label>
            <input type="text" name="fullname" id="fullname" value="<%= inputData.fullname %>"  required>
        </p>
        <p>
            <label for="street">Street</label>
            <input type="text" name="street" id="street" value="<%= inputData.street %>" required>
        </p>
        <p>
            <label for="postal">Postal Code</label>
            <input type="text" name="postal" id="postal"  value="<%= inputData.postal %>" minlength="5" maxlength="5" required>
        </p>
        <p>
            <label for="city">City</label>
            <input type="text" name="city" id="city"  value="<%= inputData.city %>"  required>
        </p>
        <button class="btn">Create Account</button>
        <p id="switch-form">
            <a href="/login">Login instead</a>
        </p>
        </div>
    </form>    
</div>
</section>
    </main>
    <%- include("../../shared/includes/footer") %>